eval "`dircolors -b`"
alias ls='ls --color=auto -h'
alias grep='grep -i --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls --color=auto -hl'
alias la='ls --color=auto -hA'
alias df="df -h"
alias du="du -sh"
alias m="ncmpcpp"
alias cp="cp -viru"
alias mv="mv -viu"
alias rm="rm -vr"
alias wget="wget -c"
alias irc="irssi"
alias rs="rsync -vhru"
alias px="chmod +x"
alias !="sudo"
alias map="nmap -p1-65535 localhost"
alias lst='find -maxdepth 1 -type f -mtime -1 -printf "%T@-%Tk:%TM - %f\n" | sort -rn | cut -d- -f2-'
alias www="elinks"
alias feeds="snownews -u"
alias ping="ping -c5"
alias mcd="sudo mount /dev/sr0 /media/cd"
